<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des CDS </title>
</head>
<body>
    <h1>Liste des CDS</h1>
    <a href="{% url 'bibliothecaire:ajouter_cd' %}">Ajouter un cd</a>
   <ul>
    {% for cd in cds %}
        <li>
            <strong>
                {% if cd.titre %}
                    {{ cd.titre }}
                {% else %}
                    (Titre inconnu)
                {% endif %}
            </strong> —
            {% if cd.artiste %}
                {{ cd.artiste }}
            {% else %}
                (Artiste inconnu)
            {% endif %} —
            {% if cd.disponible %}Disponible{% else %}Indisponible{% endif %}
        </li>
    {% empty %}
        <li>Aucun CD enregistré.</li>
    {% endfor %}
</ul>
</body>
</html>
