<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>

  <h2> Bienvenue dans la Médiathèque "Notre livre, notre média"</h2>

<section>
    <p> Vous êtes un visiteur de notre médiathèque ? </p>
    <a href="/bibliothecaire/medias"> Cliquez ici pour consulter la liste de nos médias </a>
</section>


<section>

    <p> Vous faites partie de notre super équipe de Bibliothécaires ? </p>
    <a href="/bibliothecaire/dashboard"> Connexion Bibliothécaire </a>
</section>




</body>
</html>