<form method="post">
    {% csrf_token %}

    <label for="titre">Titre :</label>
    <input type="text" id="titre" name="titre" required>

    <label for="description">Description :</label>
    <textarea id="description" name="description" required></textarea>

    <label for="type_media">Type de Média :</label>
    <select name="type_media" id="type_media">
        <option value="livre">Livre</option>
        <option value="dvd">DVD</option>
        <option value="cd">CD</option>
        <option value="jeu_de_plateau">Jeu de Plateau</option>
    </select>

    <label for="est_empruntable">
        <input type="checkbox" name="est_empruntable" {% if media.est_empruntable %}checked{% endif %} disabled>
        Empruntable
    </label>

    <button type="submit">Ajouter Média</button>
</form>