<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un média</title>
</head>
<body>

    <h2> Ajouter des médias </h2>
    <form method="post">
        {% csrf_token %}
        <h3> Ajouter un média empruntable </h3>
        {{ form_a.as_p }}
        <button type="submit" name="submit_form_a"> Enregistrer </button>
    </form>

    <form method="post">
        {% csrf_token %}
        <h3> Ajouter un média enon empruntable, consultable sur place </h3>
        {{ form_b.as_p }}
        <button type="submit" name="submit_form_b"> Enregistrer </button>
    </form>

</body>
</html>