<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tableau de bord Bibliothécaire</title>
</head>
<body>

<h2> Bienvenue, Bibliothécaire</h2>

<nav>
    <ul>
        <h3>Les médias</h3>
        <li> <a href="{% url 'bibliothecaire:liste_medias' %}">Liste des médias </a> </li>
        <li> <a href="{% url 'bibliothecaire:liste_medias_jeux_plateaux' %}">Liste des jeux de plateau </a> </li>
        <li> <a href="{% url 'bibliothecaire:ajouter_media' %}">Ajouter médias </a> </li>
        <li> <a href="{% url 'bibliothecaire:ajouter_jeu_plateau' %}"> Ajouter un jeu de plateau</a></li>
        <h3>Les membres</h3>
        <li> <a href="{% url 'bibliothecaire:liste_membres' %}">Liste des membres</a> </li>
        <li> <a href="{% url 'bibliothecaire:ajouter_membre' %}">Ajouter membre </a> </li>
    </ul>
</nav>

<p> Utilisez le menu pour gérer les livres et les membres </p>
</body>
</html>