<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tableau de bord Bibliothécaire</title>
</head>
<body>

<h2> Bienvenue, Bibliothécaire</h2>

<nav>
    <ul>
        <h3>Les médias</h3>
        <li> <a href="/bibliothecaire/medias">Liste des médias </a> </li>
        <li> <a href="/bibliothecaire/ajouter_media">Ajouter médias </a> </li>


        <li> Liste des médias</li>
        <li> <a href="/bibliothecaire/livres">Liste livres </a> </li>
        <li> <a href="/bibliothecaire/cds">Liste cd </a> </li>
        <li> <a href="/bibliothecaire/dvds">Liste dvd </a> </li>
        <li> <a href="/bibliothecaire/jeux">Liste jeux </a> </li>

        <li> Ajouter des médias</li>
        <li> <a href="/bibliothecaire/ajouter-livre">Ajouter livres </a> </li>
        <li> <a href="/bibliothecaire/ajouter-cd">Ajouter CD </a> </li>
        <li> <a href="/bibliothecaire/ajouter-dvd">Ajouter DVD </a> </li>
        <li> <a href="/bibliothecaire/ajouter-jeu">Ajouter jeu de plateau</a> </li>

        <h3>Les membres</h3>
        <li>  <a href="/bibliothecaire/membres">Liste des membres</a> </li>
        <li> <a href="/bibliothecaire/ajouter_membre/">Ajouter membre </a> </li>
    </ul>
</nav>

<p> Utilisez le menu pour gérer les livres et les membres </p>
</body>
</html>