<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Jeux de Plateau</title>
</head>
<body>
    <h1>Liste des Jeux de Plateau</h1>
    <ul>
        {% for jeu in jeux %}
            <li>
                <p> <strong>{{ jeu.titre }}</strong> : {{jeu.description}} </p>
                <button>Emprunter</button>
                <button>Retourner</button>
            </li>
        {% empty %}
            <li>Aucun jeu de plateau disponible</li>
        {% endfor %}
    </ul>
</body>
</html>