{% for type, medias in medias_par_type.items %}
    <h2>{{ type|title }}</h2>
    <div class="medias-list">
        {% for media in medias %}
            <div class="media">
                <h3>{{ media.titre }}</h3>
                <p>Type : {{ media.type }}</p>

                <!-- Affichage de l'artiste ou de l'auteur en fonction du type -->
                {% if media.type == "cd" %}
                    <p>Artiste : {{ media.artiste }}</p>
                {% elif media.type == "livre" %}
                    <p>Auteur : {{ media.auteur }}</p>
                {% elif media.type == "film" %}
                    <p>Réalisateur : {{ media.realisateur }}</p>
                {% elif media.type == "jeu de plateau" %}
                    <p>Réalisateur : {{ media.description }}</p>
                {% else %}
                    <p>Inconnu</p> <!-- Si ce n'est ni un livre ni un CD -->
                {% endif %}

                {% if media.id %}
                    <a href="{% url 'bibliothecaire:emprunter_media' media.id %}">Emprunter</a>
                {% else %}
                    <p>Erreur : média sans ID</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}