<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le Média</title>
</head>
<body>
    <h1>Modifier le Média</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="titre">Titre:</label>
        <input type="text" name="titre" value="{{ media.titre }}">

        <label for="auteur">Auteur:</label>
        <input type="text" name="auteur" value="{{ media.auteur }}">

        <label for="type">Type:</label>
        <input type="text" name="type" value="{{ media.type }}">

        <button type="submit">Modifier</button>
    </form>
</body>
</html>